body{
    overflow: hidden;
}

#gamehead{
    display: flex;
    vertical-align: baseline;
    background-color: rgb(174, 211, 246);
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

#starthead{
    display: flex;
    vertical-align: baseline;
    background-color: rgb(174, 211, 246);
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

#endhead{
    display: flex;
    vertical-align: baseline;
    background-color: rgb(174, 211, 246);
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

.title{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    width: 33%;
    padding: 0;
    margin: 15px;
    color: rgb(0, 0, 0);
}

.highbutton {
    /* position: absolute; */
    /* top: 10px;
    left: 10px; */
    width: 33%;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin: 15px;

}

.backbutton{
    width: 33%;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin: 15px;
}

.timertext{
    /* position: absolute; */
    /* top: 10px;
    right: 10px; */
    width: 33%;
    font-family: 'Roboto', sans-serif;
    text-align: right;
    margin: 15px;
}

#highhead{
    display: flex;
    vertical-align: baseline;
    background-color: rgb(174, 211, 246);
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

#answers{
    display: flex;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

#question{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
    position: relative;
    padding: 0;
    margin: 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(84, 84, 84);
}

#highscorepage{
    display: none;
}

#gamepage{
    display: none;
}

#startpage{
    display: block;
    /* position: relative; */
    
}

#startbut{
background-color: grey;
width: 33%;
padding: 0;
margin: 15px;
height: 50px;
position: absolute;
top: 50%;
left: 33%;

}

.backbutton {
    text-align: center;
    width:33%;
    margin:15px;
    position:absolute;
    left: 33%;
}

.answer{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    position: relative;
    padding: 0;
    margin: 15px;
    color: rgb(0, 0, 0);
    background-color: rgb(84, 84, 84);
    width: 300px;
    height: 50px;
}

#questiontext{

}

#end{
    text-align: center;
}

#endpage{
    display: none;
}

#highscore{

text-align: center;
}

.answer{
    color: white;
}

.blank{
    width: 33%;
}